<!DOCTYPE html>
<html lang="ja">

<head>
    <title>YUKIBBSSeed</title>
    <script>
        function redirect() {
            const input = document.getElementById('inputField').value;
            const url = '/get?seed=' + encodeURIComponent(input);
            window.location.href = url;
        }
    </script>
</head>

    <body>
        <h1>欲しいシードがある場合、その右にある数字を入力してください</h1>
        <input type="text" id="inputField" placeholder="数字"><button onclick="redirect()">確定</button><br>
        <div id="messages"></div>
        <script>
  function AutoLink(str) {
  var regexp_url = /((h?)(ttps?:\/\/[a-zA-Z0-9.\-_@:/~?%&;=+#',()*!]+))/g; // ']))/;
  var regexp_makeLink = function(all, url, h, href) {
      return '<a href="h' + href + '">' + url + '</a>';
  }

  return str.replace(regexp_url, regexp_makeLink);
}
let element = document.getElementById('filter');
let channel = document.getElementById('channel')
function reloadmessages(){
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "/bbs/api?channel="+channel.value+"&verify="+element.checked+"&t="+Date.now());
      xhr.onload = function () {
          if (xhr.status == 200) {
              document.getElementById('messages').innerHTML = AutoLink(xhr.responseText);
          }
      };
      xhr.send();
}
reloadmessages();
setTimeout(reloadmessages,1000)
setInterval(reloadmessages,5000);
</script>
    </body>

</html>
